.navbar {
    padding: 20px 0;
}

.banner {
    position: relative;
    background: url(../images/buss.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner p {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
}

.navbar-brand>img {
    width: 30px;
    height: 30px;
}

.color {
    color: blanchedalmond;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 2px solid #7f7f77;
    border-radius: 0;
    outline: none;
}

/* fillimi i footerit*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain {
    max-width: 1170px;
    margin: auto;

}

.rom {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;

}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;

}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.footer-col ul li a:hover {
    color: #24242b;
    background-color: #ffffff;
}

/* responsiviteti*/

@media(max-width:767px) {
    .footer-col {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width:574px) {
    .footer-col {
        width: 100%;
    }
}

.coct{
    display: inline-block;
    margin: 1em 0 0;
    color:#ffffff;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    transition: all 0.5s linear;
}
.coct:hover{
    color: black;
}

.fot{
    font: tahoma;
}
